JWT_SECRET=cambia_esto_por_un_secreto_seguro
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=8
UNIVERSITY_AUTH_URL=http://sistema-universitario/api/validate
DATABASE_URL=postgresql+asyncpg://postgres.[tu-project-ref]:[tu-password]@aws-0-[region].pooler.supabase.com:6543/postgres?ssl=require